*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
.gitignore
.vs/
x64/Debug
x64/Release/Tic_Tac_Toe.tlog
x64/Release/Tic_Tac_Toe.vcxproj.FileListAbsolute.txt
debug/
*.obj
*.recipe
*.iobj
*.ipdb
*.log
*.pdb
.vscode/c_cpp_properties.json
.vscode/*